@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@theme {
	/* Background Colors */
	--color-navbarbg: #07090c;
	--color-pagebg: #0d1117;
	--color-widgetbg: #161b22;
	--color-widgetbg-active: #292e33ff; /* radio box and small button background */
	--color-widgetbg-highlight: #381b08; /* Popular widget's background รณ */

	/* Text Colors */
	--color-text-primary: #f9f2f4;
	--color-text-muted: #6e6e6e;

	/* Brand Colors */
	--color-primary: #db5d0b;
	--color-primary-dark: #b34909;
	--color-secondary: #fdc700;

	/* Border & Outline Colors */
	--color-border-primary: #364050;
	--color-border-secondary: #333333;
	--color-border-muted: #21262d;

	/* Utility Colors */
	--color-gray-light: #808080;
	--color-gray-medium: rgba(110, 110, 110, 0.4);

	/* Status Colors */
	--color-error: #ef4444;

	/* Shadow Colors */
	--color-shadow: rgba(0, 0, 0, 0.25);
	--color-shadow-lg: rgba(0, 0, 0, 0.4);
}

html {
	scroll-behavior: smooth !important;
}

body {
	font-family: "Rubik", sans-serif;
	background-color: var(--color-pagebg);
	color: var(--color-text-primary);
}

#services {
	scroll-margin-top: 30px; /* Adjust to match your navbar height */
}

#pricelist {
	scroll-margin-top: 40px; /* Adjust to match your navbar height */
}

/*
.h-screen {
    height: 100dvh !important;
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/

/* scrollbar ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-track {
  background: transparent;
} */
