@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

html {
    scroll-behavior: smooth !important;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #0d1117;
    color: white;
}

#services {
    scroll-margin-top: 30px; /* Adjust to match your navbar height */
}

#pricelist {
    scroll-margin-top: 40px; /* Adjust to match your navbar height */
}

/*
.h-screen {
    height: 100dvh !important;
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/

/* scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

::-webkit-scrollbar-track {
    background: transparent;
}
*/
