@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@theme {
	--color-navbarbg: #07090c;
	--color-pagebg: #0d1117;

	--color-text-primary: #f9f2f4;
	/* --color-text-primary: oklch(0.3676 0.2074 300); */

	/* --color-primary: oklch(0.6293 0.1759 45.16); */
	--color-primary: #db5d0b;
	/* --color-primary: oklch(0.5644 0.2251 28.61); */

	--color-secondary: #fdc700;
	/* --color-secondary: oklch(0.8535 0.1455 170.47); */

	--color-widgetbg: #161b22;
	/* --color-widgetbg: oklch(0.6702 0.1801 144.93); */

	--color-widgetoutline: #364050;
	/* --color-widgetoutline: oklch(0.5849 0.2146 0); */
}

html {
	scroll-behavior: smooth !important;
}

body {
	font-family: "Rubik", sans-serif;
	background-color: var(--color-pagebg);
	color: var(--color-text-primary);
}

#services {
	scroll-margin-top: 30px; /* Adjust to match your navbar height */
}

#pricelist {
	scroll-margin-top: 40px; /* Adjust to match your navbar height */
}

/*
.h-screen {
    height: 100dvh !important;
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/

/* scrollbar ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-track {
  background: transparent;
} */
